[2016-12-25 18:19] casassg opened #2 "Serialize all data from typeform"
After a request to Typeform API, serialize all its data into the model

[2016-12-25 20:46] casassg opened #4 "Add user management"
That's actually easy as it's implemented for django admin already

[2016-12-25 20:48] casassg opened #5 "Add application management"
- Invite applications
- Accept applications
- Reject applications

All of this from admin interface ^

[2016-12-25 20:52] casassg opened #6 "Add vote next application"
Add views for users in HackUPC team vote applications.

This votes should be stored to order applications and decided either which ones should be accepted and which ones should be rejected.

- Next application to vote should be the less globally voted (and older if equals) that the user hasn't yet voted
- One user can't vote an application twice
- If a user has voted all applications he should a g

[2016-12-25 20:56] casassg opened #7 "Login protocol for non-admin users"
Add login protocol for authentification of non-admin users. This should be considered to avoid giving staff permissions to users that we only want so they want to vote.

- [ ] Root page should redirect to this login
- [ ] Add profile page
- [ ] Add navbar with links to profile
- [x] Admin login doesn't work - it requires user to be staff.
- [x] Login should be for non-staff and staff included

[2016-12-25 21:41] casassg opened #8 "Application confirmation view"
Design confirmation view

Should include:
- Button to cancel application
- Clear message of thanks for confirming

Should do:
- Send email of confirmation to applicant
- Check states are correct before confirming
- Should extend base design and have consistency with cancel view

[2016-12-25 21:47] casassg opened #9 "Application cancellation view"
Cancel view for applications that have been invited or that are already accepted

Should include:
- Clear message of the consecuences
  - User will not be able to attend any more
- Action confirmation screen (ask before cancelling)

Should do:
- Check status application is correct
- Check post request is from the same page (CSRF)
- Extend from base design
- Be design consistent with confirmation s

[2016-12-25 21:54] casassg commented on #8
Started  here  68587680d

[2016-12-26 00:30] casassg opened #13 "Manage email list from sendgrid"
Whenever a user confirms -> Add him to the email list
Whenever a user cancels -> Remove him from the email list

[2016-12-26 01:30] casassg commented on #8
Ignore this commit. I messed up the number. I meant #7

[2016-12-26 01:32] casassg commented on #7
Users now can:

login -> /accounts/login/
logout -> /accounts/logout/
change password-> /accounts/password/

This needs to be referenced by other views in order to manage the user authentification

[2016-12-26 19:25] ofpau commented on #8
Continued here https://github.com/hackupc/mercuryhack/commit/2c5b2e2e780395be8bbaf140776844f9d75b8796 and here https://github.com/hackupc/mercuryhack/commit/15b2bf64c139d786116f4fb144ce0da9eaca69d9

Left to do:
- Send email of confirmation to applicant

[2016-12-26 20:55] #2 closed

[2016-12-26 20:56] #4 closed

[2016-12-26 20:56] #5 closed

[2016-12-29 15:02] casassg opened #15 "Add events API endpoint"
Merge this into this project:

https://github.com/casassg/hackupc-api-live

[2016-12-29 15:03] casassg commented on #13
@ofpau do you think you can add this to your current tasks?

[2016-12-29 15:33] ofpau commented on #13
Yes, I'll take this then

[2016-12-29 15:56] #8 closed

[2016-12-29 15:57] casassg commented on #8
closed at #14

[2016-12-29 16:00] casassg opened #16 "Fix cancellation url at confirmation email"
Cancellation button doesn't work properly. Needs to be formatted in SendGrid.

[2016-12-29 16:01] casassg opened #17 "Design screens to be more consistent"
Screens are now plain bootstrap, they need to be personalized in order to get a better feeling of this being a HackUPC app. @hackupc/design

[2016-12-29 16:03] casassg commented on #7
Add /accounts/profile screen
Add navbar with options

[2016-12-29 18:56] ofpau commented on #13
I think the **steps needed** will be something like:

1. Create sendgrid campaign and list (can be done manually from the website)
2. When a user confirms, add them as a recipient (contactdb API).
3. Right after that, [add them to the mailing list](https://github.com/sendgrid/sendgrid-python/blob/master/USAGE.md#add-a-single-recipient-to-a-list). Note that we need the recipient ID, so the previous

[2016-12-29 19:34] casassg commented on #13
**Answers:**
1. Always keep recipients. We can manually clean them if needed (I don't expect it to be needed at any point soon)
2. Yes, as long as the library has official support from SendGrid and is actively supported.
3. We can add them when they apply, we will need to be careful to remove them if the list increases so much. Create a function to retrieve recipient id, or add it to the system if

[2016-12-31 00:52] casassg commented on #6
@AsLogd could you help @alvarogirona as you did this last time?

[2016-12-31 00:53] casassg commented on #17
Or maybe @AsLogd can help :upside_down_face:

[2017-01-02 21:54] casassg opened #20 "Add gmail actions compatibility"
Invite email: https://developers.google.com/gmail/markup/reference/rsvp-action

Confirmation email: https://developers.google.com/gmail/markup/reference/event-reservation

[2017-01-04 13:07] #9 closed

[2017-01-08 13:38] #6 closed

[2017-01-08 13:38] #7 closed

[2017-01-08 13:39] casassg opened #21 "Add attendance views"
We want our volunteers to check people in. In that way, we need to create new views so that we can check-in people without having to be admins.

- [x] QR scanner view -> when QR detects a valid token redirect to check-in page
- [x] Manual confirmed list view
  - [x] Search by token or name or last name or email
  - [x] Show results of search and link to check-in view
- [x] Check-in view-> should h

[2017-01-08 14:59] casassg commented on #16
Done

[2017-01-08 14:59] #16 closed

[2017-01-08 15:03] casassg commented on #20
This gets relegated to low_priority as we need to register with Google first. It's quite more complicated than I thought. It can be done later on if someone gets more time.

https://developers.google.com/gmail/markup/registering-with-google

[2017-01-08 15:52] casassg opened #22 "Add reminder admin action"
As an admin we want to send a reminder if an application hasn't responded

- [ ] Add invite date to model
- [ ] Show days since in admin list -> maybe new admin interface for this?
- [ ] Add reminder template

References:
- http://stackoverflow.com/questions/2223375/multiple-modeladmins-views-for-same-model-in-django-admin

[2017-01-08 19:49] ofpau commented on #13
Working on this [here](https://github.com/hackupc/mercuryhack/commits/mail_list). Created a _MailListManager_ that will do the work needed, and added a field in the application model to keep track of the sendgrid _recipient_id_ of each user. Left to do: call the correspondent methods when someone confirms/cancels attendance.

[2017-01-09 00:09] casassg commented on #21
@alvarogirona this is not priority, but if you have time and you want to work on this. it would be sweet! :candy:

[2017-01-09 00:21] casassg opened #23 "Add automatic deployment"
References:
- https://kjaer.io/travis/

[2017-01-09 19:05] casassg opened #24 "Add manage.py command to fetch applications from typeform"
This way we can remove the view and we can set a cron to run this in a script periodically.

[2017-01-11 10:35] casassg opened #29 "Make sure application voted is the same that was being shown"
Right now the application voted could be different from the one being shown. To fix this we should add application_id as a hidden field and retrieve application on post with this field.

[2017-01-11 11:12] casassg opened #30 "Start admin dashboard"
This is non-prioritary. will fill with a better description when I have time.

[2017-01-11 11:13] casassg commented on #15
doing it out of this project

[2017-01-11 11:13] #15 closed

[2017-01-11 17:42] casassg commented on #13
closed at #28

[2017-01-11 17:42] #13 closed

[2017-01-13 15:48] casassg opened #31 "Slack error reporting"
We would like to add error email reporting. Django has this nicely built-in so it's only a matter of configuration.

- [x] Add error reporting config - [Django docs](https://docs.djangoproject.com/en/1.10/howto/error-reporting/)
- [x] Add sendgrid smtp email option
- [ ] Study option to set as Slack instead of email - https://github.com/lamby/django-slack
- [ ] Add manual email reports for non-int

[2017-01-13 16:09] casassg opened #32 "Decide domain and application external name"
I was thinking on labeling it as **My HackUPC** _wow such originality_

[2017-01-13 16:38] casassg commented on #29
It's been fixed... Whenever github servers let me I'll upload and PR this

[2017-01-13 16:50] casassg commented on #24
done at #25

[2017-01-13 16:50] #24 closed

[2017-01-13 16:50] casassg commented on #29
done at #33

[2017-01-13 16:50] #29 closed

[2017-01-13 17:18] ofpau commented on #32
/j Maybe even **La meva HackUPC**? 😏

[2017-01-13 17:40] rgascons commented on #32
La_ meva HackUPC

[2017-01-13 18:01] casassg commented on #32
La_HackUPC

On Fri, Jan 13, 2017, 18:40 Ricard Gascons <notifications@github.com> wrote:

[2017-01-13 19:52] casassg commented on #32
my.hackupc.com ?

[2017-01-13 19:55] ofpau commented on #32
Yes I'd go for this

[2017-01-13 20:12] ani300 commented on #32
I'd go with la.hackupc.com, but I'm not trustable with names

[2017-01-13 20:14] dasilvacontin commented on #32
I'm down for la.hackupc.com tbh

[2017-01-14 13:23] ghost commented on #21
I will be working on it after this Monday in the check-in branch

[2017-01-14 18:08] casassg commented on #32
Problem is this is public for hackers. Should be something which don't make us explain memes we have

[2017-01-14 18:09] dasilvacontin commented on #32
Is it hard to make `my` redirect to `la`?

[2017-01-14 18:48] casassg opened #34 "Add review applications view"
Admin only view similar to vote view that allows to manually accept knowing the current votes that the application has.
- Ordering should be for votes and submission_dates.
- Actions: Accept, Skip, Reject
- Note that as skip is a possible action, there should be a parameter that saves how many applications have been skipped (or just remove skip).

Reason: Actual admin dashboard doesn't show a lot

[2017-01-14 18:50] rgascons commented on #32
Case closed

[2017-01-14 18:58] rgascons commented on #23
Do we have tests? Without them having TravisCI is kinda useless

[2017-01-14 19:32] casassg commented on #23
No tests (no time). But they can be easily added. But this is more to use Travis as auto-deployment tool.

[2017-01-15 12:58] casassg commented on #32
Not hard @dasilvacontin could be cnamed.. but I would do the other way. my.hackupc.com sounds more serious externally. At the same time that sounds exactly like PennApps -.-

[2017-01-15 13:02] dasilvacontin commented on #32
Using 'my' feels dull and boring to me. I'd prefer something new. Doesn't have to be 'la'.

[2017-01-15 13:03] casassg opened #35 "Adapt to new admission protocol"
Topic to be determined. Being discussed internally in Slack.

[2017-01-15 13:51] casassg commented on #32
@dasilvacontin what about register.hackupc.com, app.hackupc.com, admin.hackupc.com... Using my would be good for people to remember easily.

[2017-01-15 15:28] dasilvacontin commented on #32
@casassg What's the purpose of the page? What functionalities does it offer?

[2017-01-15 20:52] casassg commented on #32
@dasilvacontin

- Application management and review (for admins - us)
- Email invites to hackers
- Confirm/Cancel link for hackers
- Ticket email to hackers
- Checkin (needs to be done)

[2017-01-15 22:14] dasilvacontin commented on #32
I don't really get the following, could you elaborate?

- Email invites to hackers
- Ticket email to hackers
- Checkin (needs to be done)

Does it need to go together in the same app as the others?

[2017-01-23 12:44] Reynau opened #38 "Create test set to test the app locally"
It should be good to create a test set to try the app locally or a script to create test sets

[2017-01-24 04:28] AsLogd commented on #22
Partially solved in 3093206be9e7779e80ea0da193a3520c9eb2209e

Where/how can I define a new e-mail template? (I suspect this is done in sendgrid)

[2017-01-24 08:13] casassg commented on #22
I can set up an access account for you

On Tue, Jan 24, 2017, 05:28 AsLogd <notifications@github.com> wrote:

[2017-01-24 17:19] casassg opened #39 "Add hacker to travel reimbursement list if travel reimbursement"
- Add new list "Travel reimbursement" in Sendgrid
- If hacker with travel reimbursement confirms add to list (as well as general list)

[2017-01-24 17:19] casassg commented on #39
@ofpau if you can do it, that would make things easier.

[2017-01-24 22:59] casassg opened #40 "Add custom 500 error template"
The current 500 error makes me cry.

[2017-01-24 23:03] ofpau commented on #39
Will start working on it soon™

[2017-01-25 15:24] casassg opened #41 "Fix first_timer error"
For some reason when mapping, some first timers appear as non-first timers. Weirdest thing ever: Some other do work. Typeform API messing it up?

[2017-01-25 15:26] casassg opened #42 "Fix order in next application to vote"
Avoid counting skipped reviews/votes when selecting next application to be voted by user.

This is done so that if an application gets skipped, then it doesn't affect others reviewers.

[2017-01-25 17:32] casassg commented on #41
fixed. it was some deep stuff.... see cf4753a

[2017-01-25 17:32] #41 closed

[2017-01-25 17:35] casassg commented on #38
It's called fixtures: https://docs.djangoproject.com/en/1.10/howto/initial-data/

Documentation on usage should be added to README.md as well

[2017-01-25 17:37] casassg commented on #32
Stays as my.hackupc.com because it's easier for everyone to remember. Also bc we already have the SSL

[2017-01-25 17:39] AsLogd commented on #38
Added a fixture in 6d327db17620e6be05977890f8ab2e7f6a119703
I'm waiting to solve problems with sendgrid before PR

[2017-01-26 22:53] #35 closed

[2017-01-26 22:54] casassg commented on #31
Added in production settings. I need to add it to the project (without the STMP users and password)

[2017-01-26 22:56] casassg commented on #23
Right now deployment is easy as it's only git pull, run refresh script and restart service

[2017-01-26 23:10] #40 closed

[2017-01-26 23:12] #42 closed

[2017-01-27 00:48] casassg commented on #30
Started admin dashboard with a test module for a Reviewer Leaderboard in #45

[2017-01-28 08:43] AsLogd opened #48 "Pre formatted descriptions"
Desceiptions of applications often have a format which would be helpful if maintained (\n an such). I think that adding \<pre> in description would improve the readability of some applications

[2017-01-28 10:46] casassg commented on #48
We would need to mark the field as safe. It's just django striping html from the text to avoid any injection

[2017-01-28 19:47] casassg commented on #38
Merged #49

[2017-01-28 19:47] #38 closed

[2017-01-28 19:48] casassg commented on #22
Merged #49

[2017-01-28 19:48] #22 closed

[2017-01-28 19:48] casassg commented on #21
@alvarogirona How is this going? Any progress?

[2017-01-28 19:50] casassg commented on #48
https://docs.djangoproject.com/en/1.10/ref/templates/builtins/ -> safe

[2017-01-31 23:10] ofpau opened #51 "Command to add hackers with reimbursement to mail list"
This substitutes https://github.com/hackupc/mercuryhack/issues/39.

Create a [command](https://docs.djangoproject.com/en/1.10/howto/custom-management-commands/) to add to a mail list all hackers that have been assigned some travel reimbursement.

The mail list on SendGrid can be the already existing _HackUPC W17 Travel Reimbursement_.

[2017-02-01 02:41] casassg commented on #39
Let's close this and keep conversation in #51

[2017-02-01 02:41] #39 closed

[2017-02-01 02:48] casassg opened #52 "Add slack auto-invite"
- [ ] Invite users to new Slack when confirming.
- [ ] Check users to send new invites to Slack on command

Inspiration: https://github.com/giginet/django-slack-invitation

[2017-02-01 02:49] casassg opened #53 "Allow edit email"
Allow edit email on admin panel

[2017-02-01 02:51] casassg opened #54 "Check bounce emails"
Some emails got an error when sending. Find a way to check email bounces and notify DIRECTORS for manual invite.

[2017-02-01 03:03] casassg opened #55 "UPC blocking emails"
Conversation to keep track of how things go regarding UPC blocking emails.

[2017-02-01 03:03] casassg commented on #55
Current status: Spambot sets SendGrid IP as SPAM.

https://www.spamcop.net/w3m?action=blcheck&ip=167.89.16.17

[2017-02-01 03:11] casassg commented on #55
Idea: White label emails from our domain: https://sendgrid.com/docs/User_Guide/Settings/Whitelabel/domains.html

[2017-02-01 11:12] #53 closed

[2017-02-01 14:53] casassg opened #56 "Add fields for application"
- [x] Add genre
- [x] Add CV
- [x] Change states to allow for users to exist even if uncomplete form
- [x] Add invited_by field

[2017-02-01 15:29] casassg commented on #55
White labeled to default.hackupc.com Hope this helps.

[2017-02-01 15:29] casassg commented on #55
Sent reminders and for the moment non-blocked and SpamCop is not blocking us. https://www.spamcop.net/w3m?action=blcheck&ip=167.89.100.12

Closing this now!

[2017-02-01 15:29] #55 closed

[2017-02-01 15:39] casassg opened #57 "Add extra admin modules"
- [x] Module with amount applications confirmed, invited, applied...
- [x] Module with confirmed amount travel reimbursement and invited travel reimbursement.
- [x] Module with tshirts confirmed (number and %)
- [x] Module with tshirts invited (number and %)
- [x] Module with Food restrictions confirmed (number and %)
- [x] Module with Food restrictions invited (number and %)

[2017-02-03 18:07] casassg opened #58 "Fix server error on cancel"
For some reason when cancelling the invite to HackUPC, SendGrid returns a 400 error when trying to delete the user from the HackUPC List. Check why is this happening.

[2017-02-03 18:35] casassg opened #59 "Add links to error 500 for reporting"
Add email link or new issue link for people to report what they did when a 500 error showed up.

[2017-02-03 18:41] #30 closed

[2017-02-03 18:41] casassg commented on #57
Continuation on #30

[2017-02-03 18:42] casassg opened #60 "Add auto reminder and cancel"
Create command action that

- [ ] checks applications that have been invited 4 days ago and sends last reminder, telling them to answer or their application will be opened.
- [ ] if application reminded and 5 days old -> new state: Expired

An Expired application can be invited again. It can't be confirmed without the invite.

[2017-02-03 19:26] ofpau commented on #58
Working on it [here](https://github.com/hackupc/mercuryhack/tree/fix_cancel). The branch now contains an error handling to avoid an internal error. Next step is to fix the root of the problem.

[2017-02-04 00:30] casassg commented on #58
:sheep: it

[2017-02-04 00:30] #58 closed

[2017-02-05 19:20] casassg commented on #60
Added on #62

[2017-02-05 19:20] #60 closed

[2017-02-05 19:23] #59 closed

[2017-02-10 12:50] quim-motger opened #65 "Filter by under aged"
Add a new filter option in "Invitations" to filter by hackers under aged (information already present in the application)

Under-aged
Yes
No

[2017-02-10 12:51] quim-motger opened #66 "Add option to re-send invitation after expiring"
Add new feature to allow sending a new invitation e-mail after the invitation has been expired due to timing limitations.

[2017-02-10 18:11] casassg commented on #51
done in #63

[2017-02-10 18:11] #51 closed

[2017-02-10 20:41] casassg commented on #52
Close this to add link in confirmation email.

[2017-02-10 20:41] #52 closed

[2017-02-12 17:59] #65 closed

[2017-02-12 19:05] #66 closed

[2017-02-13 23:05] GonMolon opened #69 "Get stats about t-shirt sizes & diets"

[2017-02-14 01:03] ghost commented on #21
There is a working table (with search and ordering) that shows the hacker that have not checked in and a link for each one to see the detail (name, surname, shirt size and diet).

I think I will modify the table to show all the hackers and the link text to be "check-in" or "uncheck" depending on if the hacker has been checked or not, and then on the detail show a button for check-in or for uncheck

[2017-02-14 18:41] ofpau commented on #69
@gonmolon Could I ask for more detail about this? We could do a command (like the one to fetch new form answers) that prints out some stats. Would that be okay?
What stats do we want? I can think of "number of t-shirts of each size" and "number of people for each diet type". Anything else?
With these answers I can work on this tomorrow afternoon ☺

[2017-02-14 18:44] ofpau commented on #69
Oh I see this is partially contained in #57. Is this a subset of that issue or it can be treated as a different one?

[2017-02-14 23:46] gonsp commented on #69
Yep, it is a subset of that issue. I didn't see it, sorry. Btw, @quim-motger already got the data I needed but it still would be sweet to have this functionality for future occasions.

[2017-02-15 01:44] #57 closed

[2017-02-15 01:44] #69 closed

[2017-02-16 22:51] casassg commented on #21
It's only showing those who are not checked in. Admin's can mark someone as not attended in Admin console.

I added a view showing all non-attended hackers, and default the view to only confirmed hackers.

[2017-02-16 23:48] casassg commented on #21
Added QR and it's working on my computer. Please check if it works on other computers :smile:

[2017-02-17 04:17] casassg commented on #54
We can check on SendGrid admin dashboard

[2017-02-17 04:18] casassg commented on #17
Consider this been done, as base is been moved to root project

[2017-02-17 04:18] #17 closed

[2017-02-17 04:18] #32 closed

[2017-02-21 07:05] #21 closed

[2017-02-21 07:08] casassg opened #73 "Add full documentation for zero start release"
- [ ] Add documentation regarding Sendgrid templates
- [ ] Add documentation regarding Sendgrid lists
- [ ] Add documentation on user permissions
- [ ] Extract config on Application name
- [ ] Extract config on email template codes
- [ ] Extract config on Sendgrid lists
- [ ] Add documentation on how to create a new Typeform serializer

[2017-02-23 06:38] AlbertSuarez opened #74 "See who checks in"
Add something that allows you, as a admin, to see who checks in every application.

[2017-03-01 22:48] rgascons opened #77 "Add code climate for best practices"
https://codeclimate.com

[2017-03-01 23:24] GonMolon opened #78 "Add button for sync in admin dashboard"

[2017-03-02 00:39] casassg commented on #77
[![Code Climate](https://codeclimate.com/github/hackupc/backend/badges/gpa.svg)](https://codeclimate.com/github/hackupc/backend)

[2017-03-13 22:21] rgascons opened #79 "Make login temporary"

[2017-03-13 23:04] casassg commented on #79
Could you please elaborate?

[2017-03-13 23:06] casassg commented on #74
Done and merged a while ago

[2017-03-13 23:06] #74 closed

[2017-04-18 17:58] casassg opened #80 "Send Slack invites once confirmed"
Add Slack invite once confirmed

[2017-05-02 01:03] casassg commented on #79
@rgascons pls?

[2017-05-02 01:06] casassg commented on #78
I think this could be easier. Sync typeform with a button in Admin dashboard just in case

[2017-05-02 01:07] casassg commented on #56
Moving this to new version

[2017-05-02 07:46] rgascons commented on #79
Apologies for the delay:

I found out that one doesn't log off after a period of time. Would be interesting to have a session  active for a period of time unless it's stated otherwise via a check box.

Reason being I had this account opened in my laptop whose not mine for nearly two months and I didn't realize it.

[2017-05-02 08:06] casassg commented on #79
Ugh okay. Time to dig into some Django session config

On Tue, May 2, 2017, 01:46 Ricard Gascons <notifications@github.com> wrote:

[2017-05-02 08:07] rgascons commented on #79
This is low priority, just wanted to keep track of the issue :)

[2017-05-08 23:07] rgascons commented on #79
`SESSION_COOKIE_AGE = 60 * 3600 * 24 * 7`
in settings.py to set logout time in seconds

[2017-05-19 20:46] casassg opened #81 "Move send emails to server?"
This is an open discussion. What would you think on adding email send to django + do it async.

Idea to do it: http://django-background-tasks.readthedocs.io/en/latest/#known-issues

[2017-05-19 20:47] casassg opened #82 "Sign up interface for hackers"
Add interface for hackers to sign up

[2017-05-19 20:49] casassg opened #83 "Ask email confirmation to hackers on sign up"
Send email confirmation for hackers on sign up

[2017-05-19 20:50] casassg opened #84 "Embed apply typeform with hidden variables"
Apply is now in the app. Embed typeform inside with hidden variables so its easy to match with user in system

[2017-05-19 20:52] casassg commented on #84
@wailingtam do you have access to typeform? If so, could you handle this?

[2017-05-19 20:52] casassg commented on #82
@ofpau @alvarogirona @MarceColl @rgascons any volunteer?

[2017-05-19 20:53] #77 closed

[2017-05-20 08:11] ghost commented on #82
Me!

[2017-06-04 21:42] rgascons opened #85 "Coding and Commit guidelines for new contirbutors"

[2017-06-04 22:27] rgascons opened #87 "Migrate DB from SQLite to a more scalable alternative on Production"
Among others, options are:

- Postgres
- MySQL

I'm leaning towards Postgres, as we're all more familiar with it.

[2017-06-04 22:34] rgascons commented on #87
If the database is small (haven't checked it), with this steps :

- Backup current SQLite Database
- Pump database data into a JSON file `python manage.py dumpdata > database.json`
- Modify the database configuration in settings.py, then run `python manage.py syncdb` and `python manage.py migrate`  to configure the new database with the models and default settings
- Run `python manage.py sqlflush`

[2017-06-05 03:27] ani300 commented on #87
+1 to Postgres

[2017-06-05 20:15] casassg commented on #87
Agree with @ani300  postgres should be the one in production. Also we dont need to do any data migration as we will start with data from scratch. I'll export the json and save it as a backup in our Google Drive for last edition.

[2017-06-22 21:36] casassg opened #88 "Add Travis integration to check code and style"
Same as frontend project

[2017-06-23 00:02] casassg commented on #82
Found this: https://www.intenct.nl/projects/django-allauth/ Let's use it!

[2017-06-23 00:02] casassg commented on #83
Doing with AllAuth better

[2017-06-23 01:38] #54 closed

[2017-06-23 01:39] #81 closed

[2017-06-23 01:40] casassg opened #89 "Move send emails to signals"
Add signals to check what email needs to be sent. Out of the model

[2017-06-23 01:43] casassg opened #90 "Add AllAuth library for sign up and confirm email"
To add all the Auth workflow, we can use the AllAuth library. It includes already all the communication, email confirmation...

Replaces #82 and #83

http://django-allauth.readthedocs.io/en/latest/

[2017-06-23 01:43] casassg commented on #82
Replaced by #90

[2017-06-23 01:43] #82 closed

[2017-06-23 01:43] casassg commented on #83
Replaced by #90

[2017-06-23 01:45] casassg opened #91 "Email templates as HTML in project"
At the moment, we are using Sendgrid templates. This makes the project difficult to set up and not available for people that doesn't use Sendgrid. Therefore we need to move the HTML templates into the project, using Sendgrid only as an email backend.

- [x] Reimbursement
- [x] Confirm
- [x] Invite
- [x] Last reminder

[2017-06-23 01:46] #83 closed

[2017-06-23 17:35] casassg commented on #90
I was trying it on local. @alvarogirona feel free to review the PR and see if it's good. We need to overwrite templates and more to make it work and to merge design. Right now it doesn't work. Also the email templates need to be improved.

[2017-06-23 17:40] casassg opened #94 "Overwrite allAuth templates"
We need to overwrite AllAuth templates to make design merge with our design

- [x] Sign up template
- [x] Log in template
- [x] Password change template
- [x] Password reset
- [x] Log out template
- [ ] Email confirm template (add html and tweak txt)

[2017-06-23 17:40] casassg commented on #94
@alvarogirona if you want, take this 👍

[2017-06-23 18:47] casassg opened #96 "Add profile view"
Profile view needs to show

- [ ] Link to edit profile
- [x] Link to change email
- [x] Status of application
- [ ] Reimbursement assigned (if amount assigned)
- [x] QR if confirmed
- [x] Time until invite expires (if invited)

[2017-06-23 18:51] casassg opened #97 "Add roles for users"
- [ ] Hacker (profile)
- [ ] Volunteers (check-in)
- [ ] Organizer (check-in + vote + ranking)
- [ ] Director (check-in + vote + ranking + invite or reject user)

Idea: https://github.com/vintasoftware/django-role-permissions

[2017-06-23 18:56] casassg opened #98 "Log invites by director"
Save who is inviting who.

We need to know who accepted someone as a matter of collaboration between directors and organizers

[2017-06-26 01:41] casassg commented on #84
See #99 it's already started there. We need to add the typeform id field from settings.py as well as add both of the hidden fields when embeding:
- [ ] hacker_id (same as user id)
- [ ] name (user name)

[2017-06-26 01:44] casassg opened #100 "Add permissions automatically if user signed up with *@hackupc.com (or any specified domain)"
We can do this with signals.

If a @hackupc.com user signs up, give it the following permissions:

- vote
- checkin
- ranking

This should be done by using signals

[2017-06-26 01:45] casassg opened #101 "Open/Close for reimbursement, checkin and applications"
Add open close buttons for:
- [ ] reimbursement
- [ ] checkin
- [ ] applications

[2017-06-26 06:13] casassg commented on #84
Done it i #99 check how it looks before moving one

[2017-06-26 06:17] casassg opened #102 "Add development mode for emails"
Change email backend if development mode to command line or something like that.

https://docs.djangoproject.com/en/1.11/topics/email/#console-backend

[2017-06-26 17:00] casassg commented on #91
Started in #99

[2017-06-26 18:48] casassg opened #103 "Add stats to dashboard"
Make dashboard graphs by using https://github.com/areski/django-nvd3

[2017-06-26 21:24] casassg opened #104 "Add Twitter/Github/Facebook login?"
With AllAuth should be simple to add Twitter or Github or Facebook (or almost any social media provider) for login. Should we do it? If so, which ones?

[2017-06-26 21:24] casassg commented on #104
@hackupc/dev Thoughts here

[2017-06-26 22:04] wailingtam commented on #104
I’ve used it before to add Fb and LinkedIn logins. It should be quite easy. I haven't seen many hackathons (none?)  use a different login from email. If we do so, Github would be my first choice

[2017-06-27 00:58] casassg opened #105 "Retrieve application automatically after submission"
Due to Typeform, we can't detect when is the application completed (unless someone knows a bit of js magic to access the iframe and detect when it's finished). Check #99

[2017-06-27 00:58] casassg opened #106 "Improve design of todo list in side of profile"
Todo list in the side could be way better. See #99

[2017-06-27 01:21] dasilvacontin commented on #104
Which login are you talking about?

If it's for hackers, making GitHub the main option can be a nice nudge into making them create a GitHub account, from which they'll benefit via increased collaboration.

[2017-06-27 01:58] casassg commented on #104
Yeah it's for hacker to register. We are enabling sign up for the new version of the backend.

[2017-06-27 02:09] casassg opened #107 "Move away from Typeform"
I can't find a way to include Typeform and save details properly. The only way is by having PRO+ (expensive)... Any suggestions? I found this as well: https://github.com/space10-community/conversational-form

It looks like a nice replacement for the Typeform form. What do you think?

[2017-06-27 02:14] ofpau commented on #104
+1 to GitHub.

[2017-06-27 04:26] casassg commented on #102
Added on cd0249e

[2017-06-27 04:27] casassg commented on #102
Needs to be added on README

[2017-06-27 04:31] casassg commented on #89
There's a problem with this: Signals only know new state. To check previous state you need to add logic to the model, which is worst than what we have. Instead I'm moving all emails to outside of the model by creating on the view

[2017-06-27 04:31] #89 closed

[2017-06-27 06:06] ghost commented on #107
Ho veig poc intuitiu pels usuaris. Complica coses com respondre en desordre i el canviar una resposta anterior.

[2017-06-27 07:13] casassg commented on #107
pots fer toggle pero. De fet es l'approach que te HackTheNorth per aixo ho deia

[2017-06-27 07:16] casassg commented on #105
One possible solution is #107

[2017-06-28 16:00] casassg commented on #94
Add contact@hackupc.com in password reset so that people can contact if needed

[2017-06-28 23:30] casassg opened #108 "Add Github sign up"
Add GitHub signup/login option.

Should include:
- [ ] Easy way to enable integration by setting an env variable with the Auth code
- [ ] It should be optional to enable it
- [ ] It should skip email verification process as we can rely on GitHub having a good email
- [ ] Should fill fields for github url automatically
- [ ] Should ask for a password once authentification for sign up has succeeded

[2017-06-28 23:31] casassg commented on #104
Alright, let's do it: #108

[2017-06-28 23:36] casassg opened #109 "Add comments for voters"
It may be a good idea to add comments when reviewing application

- [x] Add model comment (application, user, text, auto_id)
- [x] Show comments on vote view (make sure it shows below if mobile)
- [ ] Add inline for admin model so that we can see it in Application admin view

[2017-06-28 23:38] casassg opened #110 "Add csv download in dashboard (confirmed, attended)"
Add CSV download in dashboard for confirmed and attended

Should include:
- name
- lastname
- university
- email

[2017-06-29 01:21] casassg commented on #97
Never mind, using default permissions and that's it

[2017-06-29 01:21] #97 closed

[2017-06-29 16:43] casassg commented on #107
@alvarogirona this is a discussion, I never intended to have it as a task yet

[2017-06-30 01:32] casassg commented on #87
Beta version is running on Postgres already 👍

[2017-06-30 11:55] casassg opened #111 "Add database backup"
If we are going to have production ready settings, let's do it well.

http://tarsnap.com

[2017-06-30 16:24] casassg opened #112 "Improve food allergies and special need input"
Options:

- Add an `Other` choice in diet and a free field if selected
- Add a `special needs` field
- Add email and message urging to contact us if hacker has special need we need to know

[2017-06-30 16:27] yoelcabo commented on #112
I would say, food allergies or any other special needs.
Ideas:
1. Free answer box to input any special need.
2. Add a line saying: "If you have any special need you want us to know about, you can send us an email to blahblah@hackupc.com

[2017-07-03 22:36] #80 closed

[2017-07-03 22:36] #87 closed

[2017-07-03 22:38] #106 closed

[2017-07-03 22:38] casassg commented on #106
Merged in #99

[2017-07-03 22:39] casassg commented on #102
Merged #99

[2017-07-03 22:39] #102 closed

[2017-07-03 22:39] casassg commented on #100
Merged #99

[2017-07-03 22:39] #100 closed

[2017-07-03 22:39] casassg commented on #96
Merged #99

[2017-07-03 22:39] #96 closed

[2017-07-03 22:39] casassg commented on #98
Added field in application to see who invited an application. Merged #99

[2017-07-03 22:39] #98 closed

[2017-07-03 22:40] casassg commented on #91
Merged in #99

[2017-07-03 22:40] #91 closed

[2017-07-03 22:40] casassg commented on #90
Merged in #99

[2017-07-03 22:40] #90 closed

[2017-07-03 22:41] casassg commented on #105
Fixed adding fetch button in typeform... We should get back at this.

[2017-07-03 22:41] casassg commented on #56
Merged #99

[2017-07-03 22:41] #56 closed

[2017-07-03 22:42] casassg commented on #73
Outdated

[2017-07-03 22:42] #73 closed

[2017-07-03 22:43] casassg commented on #112
Added "If you have any special need you want us to know about, you can send us an email to contact@hackupc.com". I want to get back at this, so I'm leaving it open

[2017-07-03 22:43] casassg commented on #84
Merged in #99

[2017-07-03 22:43] #84 closed

[2017-07-03 22:44] casassg commented on #79
See new interface. Session expiracy is undefined if click "Remember me" on sign in. I need to check what's the default value otherwise.

[2017-07-03 22:48] casassg opened #113 "Add permanent view to check application"
Useful when discussing if someone should be accepted or not, as well to check all comments for that application

[2017-07-03 22:48] casassg commented on #113
Interface should be the same as vote

[2017-07-05 22:57] ghost commented on #107
Tellform also seems like a good replacement. Open-source and self-hosted. https://github.com/tellform/tellform

The examples aren't working on their website, but here is a gif showing how it looks like: https://qph.ec.quoracdn.net/main-qimg-bc9cf4d0abd70a94306e6c12f88ace1d

[2017-07-05 23:34] casassg commented on #107
There’s no file upload field [yet]

[2017-07-11 21:10] casassg opened #116 "Move hacker form to Profile"
Create View for Hacker Profile independent of the application process to make it more explicit. Make it mandatory so that hackers have to fill it before applying. Redirecting hackers to it on root and having a link on the navbar. Also rename current "profile" to Application and add link in navbar.

[2017-07-11 21:17] casassg opened #117 "Hacker form with groups"
In order to make the hacker form easier to fill, group questions in sections. Not sure how to do this. See http://django-floppyforms.readthedocs.io/en/latest/layouts.html as an option

[2017-07-26 09:26] AlbertSuarez opened #119 "Hosting question"
Add a question in hacker form asking for the interest to host a international hacker. Add a great disclaimer saying we guarantee nothing on the attendee side of things.

[2017-08-01 15:41] casassg opened #121 "Discussion: Colors and design"
Add here colors...

[2017-08-01 19:03] AlbertSuarez opened #122 "Add approved school list MLH"

[2017-08-03 10:57] #122 closed

[2017-08-03 17:26] casassg opened #125 "Add others text field"
Add text field if Others selected as Diet option

[2017-08-04 02:45] ofpau opened #126 "Make URLs clickable on application review"
When reviewing applications, URLs should be shown as clickable links.

Solution suggested by @rgascons: https://docs.djangoproject.com/en/dev/ref/templates/builtins/#urlize

[2017-08-04 02:59] ofpau opened #127 "Open resume PDF files in the browser"
In the review applications view, make the PDFs open with the browser viewer instead of starting to download. [This seems ](https://stackoverflow.com/a/11894771) to be a way to do it.
Requested by @rgascons on Slack.

[2017-08-04 20:22] rgascons opened #128 "Find hacker by name in Admin panel"
Right now hacker name and email are attached to each other under the column "Hacker info".

It would be reasonable to have two separate fields, one with the Name and another one with the Email, for easier lookup.

This issue is for the admin panel only

[2017-08-04 20:29] rgascons commented on #128
nvm

[2017-08-04 20:29] #128 closed

[2017-08-05 12:07] AlbertSuarez opened #129 "Ranking: show name"
Show only username (albert, ricard, miquel...) and no email (albert@hackupc.com, ricard@hackupc.com, miquel@hackupc...). I know that is a clear example of OCD but I think that would be more comfortable.

[2017-08-06 11:00] casassg commented on #116
Done in master

[2017-08-06 11:00] #116 closed

[2017-08-06 11:01] casassg commented on #112
Fixed in #131

[2017-08-06 11:01] #112 closed

[2017-08-06 19:07] atsuky opened #132 "Add graduation year filter for application"
Add a feature to be able to filter the applications by graduation year for example.
Asked on slack applications channel

[2017-08-07 17:06] #126 closed

[2017-08-07 17:59] #125 closed

[2017-08-08 12:40] #88 closed

[2017-08-08 17:22] casassg commented on #132
On slack applications? Please elaborate. The feature is pretty simple but I don't understand the part of slack applications

[2017-08-08 17:24] casassg commented on #127
Problem: the CV links are from Typeform, we just "show" them. We can't change HTTP header from it.

[2017-08-08 17:26] casassg commented on #129
The problem is that usernames are generated automatically by extracting the first part of the email. This may be a problem in any case that people have emails under different domains and use the same user. This is the reason to keep emails instead, because that's the "original" primary key and id. The other one is auto generated and may or may not fit the email.

[2017-08-08 17:28] casassg commented on #119
Ups, just saw this. Should we add it now? What was the ultimate decision?

[2017-08-08 17:28] casassg commented on #117
The interface improvement doesnt appear to be good enough to spend the time it requires. Closing for the moment

[2017-08-08 17:28] #117 closed

[2017-08-08 17:30] casassg commented on #109
Merged in #115 remember to add `closes #109` next time so that this gets closed automatically

[2017-08-08 17:30] #109 closed

[2017-08-08 17:31] casassg commented on #107
We are keeping Typeform, at least until something better appears. Long life to Typeform

[2017-08-08 17:31] #107 closed

[2017-08-08 17:32] casassg commented on #105
Leaving this open, as the current solution doesn't really satisfy me.

[2017-08-08 17:34] casassg commented on #103
Some graphs:
- [ ] Applications/day + Profiles/day + User sign up/day
- [ ] Confirmation ratio vs invited

[2017-08-08 17:34] casassg commented on #94
Looks good. Its already merged (cant find the PR)

[2017-08-08 17:34] #94 closed

[2017-08-08 17:35] casassg commented on #85
Added and merged with Travis reinforcement :smile: Hopefully this will make this project more consistent

[2017-08-08 17:35] #85 closed

[2017-08-08 17:36] casassg commented on #48
Added on #130

[2017-08-08 17:36] #48 closed

[2017-08-08 17:42] casassg commented on #34
Admin view should be enough, too much overkill for the small value it brings

[2017-08-08 17:42] #34 closed

[2017-08-08 17:59] rgascons opened #134 "Skip email verification when creating a superuser"

[2017-08-08 18:00] casassg commented on #121
@oriol20 proposed an alternative with his baggage project. Add the image as background. https://s2.postimg.org/sffmbjcux/Captura_de_2017-08-08_19_39_11.png Thoughts?

[2017-08-08 18:02] casassg commented on #121
Would really appreciate comments from @hackupc/design here

[2017-08-08 18:09] andreugallofre commented on #132
Slack channel where the feature was requested, sorry! 🙃

[2017-08-08 18:50] elena20ruiz commented on #121
Love it <3

Could it be a lot to change the font text button ??? To have consistence.

And I can propose some tips to improve (that is from my personal opinion), but not worries if you do not like it.

1. I think that in this case it is more important 'Baggage check-in' than 'hackupc'. I would put:

(I added an exemple)

In fact, I do not know if HackUPC is strictly necessary, logo better ?. Who w

[2017-08-08 19:00] #132 closed

[2017-08-08 19:07] oriolclosa commented on #121
In fact this page is only intended to be displayed to the volunteers/organizers in the infodesk. Love the logo!

For the textboxes, I'll try your proposed changes, but deleting the border won't look good, I've already tried this.

For the font in the buttons, which one should it be?

[2017-08-08 19:10] elena20ruiz commented on #121
Yes, you're right. Light color text boxes without border it's difficult :/ (I said that too fast)

And the font is: Gotham Regular. (I think it is already installed on backend)

[2017-08-08 19:11] oriolclosa commented on #121
I'll change that now, do you have the logo you just shared with transparent background?

[2017-08-08 19:20] elena20ruiz commented on #121
@oriol20

1. PNG and PSD (DEV folder) Titles: https://drive.google.com/drive/u/1/folders/0B9WjsYaZc60leHJPY0dmbEEyNnM
2. LOGO images: https://drive.google.com/drive/u/1/folders/0B9WjsYaZc60lSlF3S1QwVGV2UkE

[2017-08-08 19:53] oriol20 commented on #121
![baggage v2](https://user-images.githubusercontent.com/10714286/29091689-0c5b225a-7c84-11e7-964b-587e8af3e38a.png)

[2017-08-08 19:55] oriolclosa commented on #121
Centered logo
![baggage v2](https://user-images.githubusercontent.com/10714286/29091751-3a00e398-7c84-11e7-91dd-e7bd53094260.png)

Side logo v1
![baggage v3](https://user-images.githubusercontent.com/10714286/29091724-27e079bc-7c84-11e7-8b15-0e10e71b278b.png)

Side logo v2
![baggage v4](https://user-images.githubusercontent.com/10714286/29092279-24205df4-7c86-11e7-9205-0f2711d09c97.png)

I persona

[2017-08-08 22:47] casassg commented on #121
Please can we keep this conversation about the current repo and move the baggage checkin conversation to the baggage checkin repo issues? :sweat_smile:

https://github.com/hackupc/baggage/issues/5

[2017-08-08 23:21] casassg commented on #121
Also, regarding font. Gotham Regular is on frontend, it's not used on backend, mainly because I didn't have enough time to decide where to use and where to keep using Ek mukta

[2017-08-09 08:13] elena20ruiz commented on #121
Yep I know that in backend it is not Gotham putted but thinking that button style is the same, why can not be in Gotham? The other font styles doesn't matter.

[2017-08-09 08:21] elena20ruiz commented on #121
Ok, nothing. I understood that check-in was in backend repo.

[2017-08-09 09:52] AlbertSuarez opened #137 "Hide comments when no applications"
![screenshot_20170808-181808](https://user-images.githubusercontent.com/15660893/29115770-0e285dee-7cf9-11e7-9235-75bf17f3dcba.png)

[2017-08-10 12:38] AlbertSuarez commented on #129
No worries @casassg! 👍

[2017-08-10 12:39] AlbertSuarez commented on #119
I wouldn't add it. It's too late I think

[2017-08-10 13:12] dasilvacontin commented on #119
Whoops.

[2017-08-10 13:13] dasilvacontin commented on #119
We can send an email later to those who've been accepted.

[2017-08-10 22:42] casassg commented on #119
Agree

[2017-08-10 23:42] #119 closed

[2017-08-15 15:59] casassg opened #139 "Add automatic reminder if profile has been created but not completed within 7 days"
Something like: Hope you didnt forget us :D

[2017-08-15 16:00] #129 closed

[2017-08-15 16:01] casassg commented on #137
Merged in #138

[2017-08-15 16:01] #137 closed

[2017-08-15 16:02] casassg commented on #127
Closing this. There's not much we can do about it

[2017-08-15 16:02] #127 closed

[2017-08-15 16:08] casassg commented on #113
merged on #138

[2017-08-15 16:08] #113 closed

[2017-08-30 18:11] #78 closed

[2017-09-03 16:15] faix opened #144 "Stats should only show confirmed hackers"
In the stats widget for T-Shirts and Meals only show the stats of confirmed hackers.

[2017-09-03 19:14] AlbertSuarez opened #145 "Change Paypal mail"
Change hackers paypal mail on backend database. @casassg

[2017-09-04 05:18] casassg commented on #145
Done in the last commit on master

[2017-09-04 05:18] #145 closed

[2017-09-04 05:19] casassg commented on #144
This can already be done by editing the config of the widget (top of the widget, symbol of pencil and paper)

[2017-09-04 05:19] #144 closed

[2017-09-13 12:44] rgascons opened #146 "Add blacklist system"
We need to standardize this process and avoid future situations where a Hacker that is in our internal blacklist has been accidentally accepted.

My proposal:

1. Add a blacklist structure in the system that can be edited by admins only
    - This blacklist must have fields like: Name | Motive of bann | Date of bann
2. This list can be seen by all HackUPC staff
3. When a blacklisted user registers

[2017-09-13 13:32] rgascons commented on #79
Is this still up?

[2017-09-25 18:39] casassg commented on #139
Pushed at some point. I'm sorry, I dont have the time to properly keep this updated at the moment

[2017-09-25 18:39] #139 closed

[2017-10-11 14:51] AlbertSuarez opened #149 "Add Checkbox when a hacker doesn't want to sign"
We need to add a checkbox in the check-in process indicating when a hacker hasn't wanted signed LOPD document.

[2017-10-12 19:17] #149 closed

[2017-10-20 10:44] AlbertSuarez opened #152 "Ask if hacker is from FIB-UPC, and if so, what degree/master he/she is enrolled to"
It's a Maria Teresa (vice-dean) request:

[2017-10-20 14:29] qaisjp commented on #152
fiber?

[2017-10-20 15:29] casassg commented on #152
@qaisjp It's how we call people studying at FIB (Informatics Faculty of Barcelona) XD

[2017-10-20 15:29] casassg commented on #152
Will take a look at how to do that. I need to do a refactor on the way of creating the forms

[2017-10-20 17:24] qaisjp commented on #152
ah cool :D We say Infer (School of Informatics)

[2017-10-31 20:50] casassg opened #154 "Improve open-sourceness"
I would like to make this easier to fork and work for other hackathons. Any advice?

I was thinking of either moving this to my profile or creating a new organization just for this.

Also, even though I like how simple is it to say backend, maybe adding a name to it would make sense if other hackathons need to use it.

What do you think?

[2017-10-31 21:08] dasilvacontin commented on #154
`hackathon-backend`. So it's just an API, no frontend?

[2017-10-31 21:10] dasilvacontin commented on #154
Is there really other people interested in using this? What do those people due/use for now that this is not usable?

[2017-10-31 21:12] dasilvacontin commented on #154
Maybe making it ready-to-use with Heroku, or with Docker.

[2017-10-31 21:23] casassg commented on #154
@dasilvacontin There's no API actually, it's a full-stack application. It includes a small frontend for registration and more. Similar to what PennApps, MHacks and HackTheNorth currently have.

There are a few hackathon organizers that asked me about this. Afaik HackJunction thought on using it, we are using it for HackCU (I made a huge refactor there that I'll bring here as well), and other organ

[2017-10-31 21:51] mvdan commented on #154
I'd say making it have APIs, or making the data easily accessible somehow, would be really important for this to be useful to other hackathons in general.

[2017-10-31 23:35] casassg commented on #154
Adding the APIs to the todo list, should be easy with DRF.

Even though what do you guys think about moving this to a different team or profile

[2017-11-01 01:47] qaisjp commented on #154
agreed. this would be used by more hackathons if it was a standalone
project, rather than attached to a specific hackathon. giving it its own
name under the same org (hackupc) would still work (rather than just being
"backend").
On Tue, 31 Oct 2017 at 20:50 Gerard Casas <notifications@github.com> wrote:

[2017-11-01 06:25] casassg commented on #154
The reason I was thinking on moving it away from hackupc org was to have a fork where we can have any specific hackupc stuff. Similar to what has been done with https://github.com/hackmit/quill

[2017-11-20 07:26] casassg commented on #134
Done in the new version 😄

[2017-11-20 07:26] #134 closed

[2017-11-20 07:27] casassg commented on #121
Closing this. Fonts have changed and this is going to be hackathon agnostic

[2017-11-20 07:27] #121 closed

[2017-11-20 07:28] casassg commented on #110
Done. Added a command to download csv and a page to download it on new version

[2017-11-20 07:28] #110 closed

[2017-11-20 07:28] casassg commented on #105
No longer needed. Moved away from typeform

[2017-11-20 07:28] #105 closed

[2017-11-20 07:28] casassg commented on #104
Closing this

[2017-11-20 07:28] #104 closed

[2017-11-20 07:31] casassg commented on #101
Added deadline for applications

[2017-11-20 07:31] casassg commented on #23
Not doing it

[2017-11-20 07:31] #23 closed

[2017-11-20 07:31] casassg commented on #31
Nop, email is good

[2017-11-20 07:31] #31 closed

[2017-11-20 07:32] casassg commented on #79
I need to check how does this stay on new version

[2017-11-20 07:32] casassg commented on #79
Also, I need to stop commenting and closing

[2017-11-20 07:33] casassg commented on #146
Given the fact that we no longer plan on keeping this between editions, should we close this?

[2017-11-20 07:35] casassg commented on #152
Once we have this as a standalone repo and use a fork for HackUPC, we may be able to do it

[2017-11-20 08:35] casassg opened #156 "Add heroku deployment"
## Is this a BUG REPORT or FEATURE REQUEST?

Feature request

Heroku has Postgres for deployment, I think that adding a Heroku launch button would make a lot of sense and make thing easier!

[2017-11-20 08:36] casassg commented on #154
Moved to a new organization: github.com/hackAssistant and renamed to registration to make it more clear. This way I can transfer the maintainability to other hackathon organizers when I graduate.

[2017-11-20 08:39] casassg opened #157 "Add Docker image"
## Is this a BUG REPORT or FEATURE REQUEST?

Feature Request

Add Docker image to easily deploy

- [ ] Add Dockerfile to generate docker image
- [ ] Add Makefile to mantain names and more for docker image
- [ ] Upload docker image to DockerHub to be used

[2017-11-20 08:41] casassg opened #158 "Add API"
## Is this a BUG REPORT or FEATURE REQUEST?

FEATURE REQUEST

Add REST API to access information. This needs to be defined a bit better on what endpoints should there be and if we want OAuth 2.0 or something else to access.

[2017-11-20 08:43] casassg opened #159 "Add Team Applications"
## Is this a BUG REPORT or FEATURE REQUEST?

FEATURE REQUEST

Add teams as a new model and allow for team creation and team joining.

- [ ] Create a team when application created
- [ ] Join a team when application created
- [ ] Send team invites tables for directors
- [ ] Invite teammates if team is invited automatically with signals

[2017-11-20 09:13] casassg opened #160 "Add Dummy data"
## Is this a BUG REPORT or FEATURE REQUEST?

Feature request

Add dummy data to play around without having to get SendGrid or anything else.

[2017-11-20 11:56] qaisjp commented on #154
I like this new hackassistant organisation.

[2017-11-20 21:33] #156 closed

[2017-11-27 06:22] casassg commented on #159
First draft prototype: https://www.figma.com/proto/PrjeiH5pAaFcIQtlmKck5hcz/HackX-Registration?scaling=contain

[2017-11-27 18:51] qaisjp commented on #152
Would it be to complex to move this into a feature titled "Targeted Questions", allowing you to ask questions ("What degree?") based on a predicate (`school=FIB-UPC`)?

[2017-11-28 15:14] casassg commented on #152
Currently, there's no easy way to do this. There are a few targeted questions though (Projects you have done only appear if this is not your first hackathon. The only problem is that it's quite manual. I may look to see if there's an easier way to do it.

[2017-12-07 03:40] casassg opened #164 "Add auto migrate for heroku automated releases"
My apologies @qaisjp I got the bug reports after the release happened. Should be alright now!

This has been fixed on https://github.com/HackAssistant/registration/commit/4be2f36a905bec3b583a8f03cb75ebb54c137190

[2017-12-07 03:40] #164 closed

[2017-12-07 04:36] qaisjp commented on #164
No worries! quick question: this project is looking **extremely** promising.

When will HackCU 2018 happen / applications go out? We're hoping to run a hackathon around March, and I'm wondering whether we should use HackAssistant _this year_, or _next year_.

[2017-12-07 04:53] casassg commented on #164
HackCU is happening on late Feb 2018. Why though? If you fork it you should be able to deploy your own version of HackAssistant. For HackCU actually we have an entire separate repo and deployment on AWS (still on beta though, applications will go out soon - betamy.hackcu.org)

The registration.gerard.space is just a heroku deployment I made to test that heroku deploy button works (and then kept it

[2017-12-13 19:41] casassg opened #165 "Move messages to top (Linkedin style)"
## Is this a BUG REPORT or FEATURE REQUEST?
Feature request

Move messages to the top and make them auto disappear after a minute.

- https://css-tricks.com/pop-from-top-notification/
- https://docs.djangoproject.com/en/1.11/ref/contrib/messages/

[2017-12-23 23:46] #159 closed

[2017-12-24 16:42] casassg commented on #165
Instead of this, did a snackbar approach similar to what's done in android. Used this simple library: https://github.com/FezVrasta/snackbarjs

[2017-12-24 16:42] #165 closed

[2017-12-24 16:43] casassg commented on #111
Add documentation to use this instead: https://github.com/casassg/PostgreSQL-Dropbox-Backup

Free and reliable backup (saved on dropbox and on the local computer)

[2018-01-03 00:54] #111 closed

[2018-01-28 08:08] casassg commented on #103
Add preview version for some application data
![screencapture-localhost-8000-stats-1517126848026](https://user-images.githubusercontent.com/6912589/35480279-b59229f2-03c7-11e8-85f3-8e668e85bfc5.png)

[2018-01-28 09:20] casassg commented on #103
Added a few for reimbursements as well

![screencapture-localhost-8000-stats-reimb-1517131203196](https://user-images.githubusercontent.com/6912589/35480723-cf932e32-03d1-11e8-9f38-3d223eba514e.png)

[2018-02-03 13:22] hreeder commented on #157
I'll submit a PR some time this weekend with a `Dockerfile`, `docker-compose.yml` and some of the `Makefile` stuff.

For now, I'll leave it as variables in the Makefile as to where to push it on DockerHub, and ill probably have docker-compose build locally, but that's easy enough to swap out once you folks have an org / project over on DockerHub and automatic builds set up.

[2018-02-03 19:51] casassg commented on #157
That sounds amazing! Just created a docker hub org: https://hub.docker.com/u/hackassistant

[2018-02-04 21:24] qaisjp opened #181 "Editing an application with a reimbursement causes a crash"
1. create a fresh account
2. make an application and request reimbursement
3. attempt to edit your application

crash!

[code]

[2018-02-04 22:19] qaisjp commented on #181
It's not possible to waitlist this one either..

[2018-02-05 16:44] casassg commented on #181
Localized the problem. Not sure how to solve this though. Trying a few different options.

[2018-02-07 18:01] faix opened #182 "Add Teams support"
Have hackers be able to create teams after registering for the event on typeform.

[2018-02-07 18:21] casassg commented on #182
Exists already in the last version. We are not using typeform anymore though.

[2018-02-07 18:21] #182 closed

[2018-02-07 19:30] qaisjp commented on #181
Will this be fixed anytime soon? We're hoping to deploy this this week and we may have to disable reimbursements if it's not fixable.

[2018-02-07 20:09] casassg commented on #181
Let me work on that now. I have had a busy week sorry!

[2018-02-07 20:12] qaisjp commented on #181
No worries :)

[2018-02-07 20:34] casassg commented on #181
There we go. Found a quite elegant solution to the problem. Waiting for the tests to run and then I'll merge it 😄

[2018-02-07 20:48] #181 closed

[2018-02-09 16:51] qaisjp opened #188 "Emails do not have the src field set for the social icons"
![image](https://user-images.githubusercontent.com/923242/36039090-695bc6b4-0db9-11e8-82b5-0944191e9874.png)

[2018-02-12 15:01] qaisjp opened #189 "User losing input data after changing tab on the application page"
(user report)

I'll send a PR if i get the chance to work on it, ~~doesn't seem too important~~ multiple seem to be running into this issue so I'll have to do this soon.

a potential solution would be to show an `alert()` `onclose` if input was made

[2018-02-12 15:43] qaisjp commented on #189
Is this sufficient enough? https://github.com/compsoc-edinburgh/hackassistant-registration/commit/a11a2ead2bc17a5ebf54613f45bf092b8e9fbcf7

I feel like the setTimeout is a bit hacky but it seems like the only option since there's no easy way to programmatically check if all the fields in a form validates (clientside)

(setting it back is necessary to prevent attempted submissions of incomplete for

[2018-02-12 15:51] qaisjp commented on #189
Not good enough.

https://stackoverflow.com/questions/6903457/is-the-onbeforeunload-event-not-supported-on-iphone

We should catch an `a href` click ourselves, watching out to make sure they aren't ctrl+clicking anywhere

[2018-02-12 17:08] casassg commented on #188
They do have it. The problem is that the image on embedded bytecode. Some clients open it right, some don't. I can replace it with an image.

[2018-02-13 00:27] casassg commented on #189
Quick fix for this: Show team tab only when they finished application. What do you think @qaisjp ?

I think it will avoid having hackish stuff on js and will also avoid confusion. If this works I can submit a PR myself tomorrow, should be simple.

[2018-02-13 01:07] qaisjp commented on #189
That solution sounds good to me.

[2018-02-13 16:35] #189 closed

[2018-02-13 17:17] casassg opened #192 "Fix bug on CV upload"
## Is this a BUG REPORT or FEATURE REQUEST?

CV is not uploaded due to Mixin pushed at #183

## What happened

- CVs are not uploaded when filling application

## What you expected to happen

- CVs to be stored after submitting them

## How to reproduce it (as minimally and precisely as possible)

1. Fill application with resume
2. Submit application
3. Check application on Application tab
4. No C

[2018-02-13 17:33] qaisjp commented on #192
Docker does have support for file system uploads, cc @hreeder

[2018-02-13 18:57] casassg commented on #192
Then you should add it to your deployment @qaisjp . At the moment it's not storing my CV. It's a minor issue, but receipts are way more important and will happen the same.

I also have a PR ready to add the ability to do it with Dropbox.

[2018-02-13 18:59] #188 closed

[2018-02-13 19:23] LuigiBaute opened #194 "String translation to Spanish"
Hi, I'm interested in collaborating on your project as a translator into Spanish which is my native language

[2018-02-13 19:43] casassg commented on #194
Hi @LuigiBaute I have not enabled translation for the project just yet. Django Translations needs to be configured and the strings to be translated need to be marked (see: https://docs.djangoproject.com/en/2.0/topics/i18n/translation/). I can be quite some work. If you want, you could fork the repo and start marking strings. I can provide with any assistance as I have done it for other projects be

[2018-02-13 19:50] LuigiBaute commented on #194
Yes I can collaborate on English as well, but I mostly do translations.

[2018-02-13 21:37] qaisjp commented on #192
Wait @casassg are you saying that my.hacktheburgh.com isn't uploading CVs, or something else?

[2018-02-13 21:55] casassg commented on #192
Yes, that's what I'm saying. I registered today to check if everything was fine.

[2018-02-13 22:19] qaisjp commented on #192
Crap. I've had a quick look and it seems that uploads through the admin
panel work fine but not through the dashboard. I may have broken something
whilst working on my modifications

On Tue, 13 Feb 2018, 9:55 pm Gerard Casas, <notifications@github.com> wrote:

[2018-02-13 22:42] casassg commented on #192
Let me know if you find something 👍

[2018-02-13 23:46] qaisjp commented on #192
Yeah, hmm, can't seem to find where the issue is at first look. :|

[2018-02-14 00:11] qaisjp commented on #192
@casassg #183 causes this.

(tested by changing `class ApplicationForm(OverwriteOnlyModelFormMixin, BetterModelForm):` to `class ApplicationForm(BetterModelForm):`)

[2018-02-14 00:29] qaisjp commented on #192
Temporary fix issued here https://github.com/compsoc-edinburgh/hackassistant-registration/commit/be3a72d7743182197e10c6831cbb8368cca01ec7

[2018-02-14 00:45] casassg commented on #192
Bug fixed. PRing now.

[2018-02-14 00:47] casassg opened #195 "Add external upload to Dropbox"
## Is this a BUG REPORT or FEATURE REQUEST?

On Docker and Heroku deployments files can't be stored permanently on the local machine. We need a way to store CVs and receipts in a safer place.

One option would be to use `django-storages` and Dropbox, AWS or similar.

http://django-storages.readthedocs.io/en/latest/backends/dropbox.html

(Optional)
- OS: Docker and Heroku

[2018-02-14 00:51] #192 closed

[2018-02-14 00:52] casassg commented on #192
It should be all good now. Tested on localhost with several scenarios.

[2018-02-14 01:19] qaisjp commented on #192
Thank you!

[2018-02-21 22:09] casassg opened #202 "Maintenance on hold until next week"
Hey, so due to the fact that [HackCU](https://hackcu.org) is coming this weekend, I'll do a temporary stop on maintenance. I'll work on reviewing PRs after that (unless some major bug appears). My most sincere apologies!

CC @qaisjp

[2018-02-21 22:22] qaisjp commented on #202
Good luck :)

[2018-02-24 12:17] pecoraa opened #205 "Change "Assigned" to "Requested" money in Reimbursements tab"
I think "Assigned Money" is incorrect as it's how much a participant is _asking_ for, rather than how much they are assigned.

[2018-02-24 13:26] qaisjp opened #206 "Files should not be publicly accessible"
Currently you can visit any file without being authenticated. We should add authentication for receipts (organiser only) and CVs (organisers and uploaders).

Happy to work on this - I'll self assign once work has started.

[2018-02-24 13:28] qaisjp opened #207 "CVs should be deleted on clear"
Clearing the file or re-uploading a doc doesn't delete the file. Currently anyone can host anything as a resume.

Issue may apply to receipts too.

I can work on this - will self-assign when work has started.

[2018-03-05 03:24] qaisjp opened #208 "Reimbursement submission for friends 500s"
Error received:

[code]
![image](https://user-images.githubusercontent.com/923242/36956156-ad2ce6d4-2024-11e8-8cda-9f68581bd80a.png)

Should have a friendly client side error message.

![image](https://user-images.githubusercontent.com/923242/36956171-c6b5866a-2024-11e8-906b-fdca069ebd6f.png)

[2018-03-05 03:26] qaisjp commented on #208
appears to be a difference between py2 and py3.

https://stackoverflow.com/questions/7075200/converting-exception-to-a-string-in-python-3#comment8466946_7075318

[2018-03-10 05:09] #195 closed

[2018-03-15 17:33] casassg commented on #206
Mmmm this may be tricky. Files are made available through nginx/Apache as static assets. I don't believe this should be a problem. Unless you know someone else's resume name

[2018-03-15 17:33] #202 closed

[2018-05-16 00:04] #194 closed

[2018-09-05 17:15] casassg commented on #206
There's a PR on this at the HackUPC repo. Will add this here once HackUPC is done

https://github.com/hackupc/registration/pull/22
https://github.com/hackupc/registration/pull/21

[2018-09-05 17:23] casassg commented on #205
We need to do a better job at explaining the whole reimbursement steps and probably do a refactor on that end. Atm is a bit mixed still

[2018-09-15 09:25] qaisjp commented on #207
Just giving an update on this issue as I haven't touched this repo in a while — i still plan to fix this eventually :)

[2018-09-20 23:01] jonmarkgo opened #218 "Add MyMLH OAuth Integration"
## Is this a BUG REPORT or FEATURE REQUEST?
FEATURE REQUEST

I'd love to see a MyMLH integration for this (https://my.mlh.io/) - MyMLH is the OAuth 2 solution that MLH uses for the Hardware Lab and many hackathon registration systems. It makes it easier for hackers to sign up for more events without re-entering their data every time around.

[2018-09-24 22:48] casassg commented on #208
Yeah, I think doing `str(e)` should solve it? Not sure though

[2018-09-24 22:51] casassg commented on #206
@oriolclosa Any chance to cherrypick the PRs here?

[2018-10-08 21:04] casassg commented on #108
Refactoring this. I would still like to have it available but make it easier without as many dependencies we used to have

[2018-10-08 21:20] casassg commented on #218
Desired completion checklist:
- [ ] Easy way to enable integration by setting some environment variables with the Auth codes
- [ ] It should be optional to enable it
- [ ] It should skip email verification process as we can rely on MLH having a good email
- [ ] Should fill fields in user object: Email, full_name (first + last name concatenated).
- [ ] Should pre-fill fields in the Application obje

[2018-10-08 23:05] qaisjp commented on #218
@jonmarkgo is it possible for someone to use MyMLH as an OAuth provider without activating their MyMLH account?

[2018-10-08 23:07] qaisjp commented on #218
@jonmarkgo is it possible for someone to use MyMLH as an OAuth provider without activating their MyMLH account?

not sure this is really needed but it should be possible to go into your account settings later and set a password

I think it should flag it up and say "please enter your password to link accounts" so that there aren't duplicates

[2018-10-08 23:46] casassg commented on #218
@qaisjp do you mean if someone is capable of using MyMLH without having their email verified?

I like the set password later approach as well. My only concern is making the UI more complicated than needed. We could add a button in the Dashboard (after finished application) to set the password. I rather avoid having to stuff more links in the navbar, to be honest. The other option would be to have

[2018-10-09 02:17] qaisjp commented on #218
yeah

I agree about keeping the UI simple. I like the drop-down menu idea

I think whatever is chosen we should be consistent with third party providers. Would we want GitHub to only be for registration?

[2018-10-09 17:20] jonmarkgo commented on #218
Yes, it is possible to OAuth with MyMLH before you have confirmed your e-mail.

[2018-10-09 17:40] casassg commented on #218
Is there any chance to get that info from the API? (to see if a user's email is verified or not)

Even though it would not be too problematic, we could also make email verification on our end.

[2018-10-09 19:33] jonmarkgo commented on #218
I'll ask, @theycallmeswift could give more context - my guess is in the short term you'd be better off confirming on your end

[2018-10-23 08:00] AlbertSuarez commented on #152
Closed since we are not gonna implement this.

[2018-10-23 08:00] #152 closed

[2018-11-15 09:17] casassg opened #225 "Confirm without needing to login"
## Is this a BUG REPORT or FEATURE REQUEST?

Could be considered a Bug. When trying to confirm, if you are not logged in, it leads you to a 404 error. There are multiple solutions to this:

- Making the view login required and removing 404
- Confirming and redirecting to `root` for login

It should also happen similarly to cancel. In this case, probably making the view login required would make mo

[2018-11-17 21:07] casassg opened #226 "Separate review for dubious applications"
Find a way to mark dubious applications, review them separately and then get them back to the voting system.

My first approach would be to:
- Have an extra button in the vote view that separates it for an in-depth review.
- Applications that need in-depth review should not be in the review tab rotation.
- Have a list view of this separated applications.
- View to review a single application and b

[2018-11-17 21:13] casassg opened #227 "Define flow for walk in hackers"
This can be done with the current process but it's not easy. We should define what's the expected behavior for walk-in hackers in a hackathon. This may involve adding a temporary endpoint for hackers to use during the event that allows applying and check-in fast. Curious about diverse alternatives to take on this

[2018-12-03 02:04] casassg commented on #226
Status:
- Dubious - Not contacted
- Dubious - Contacted (requires a user assigned to task)
- Invalid

Need to assign organizers to it. Thanks @dreaqdp for the feedback!

[2018-12-19 01:32] #218 closed

[2019-02-14 20:52] qaisjp opened #232 "T-shirt size has an invalid max length"
Women's XXS is `W-XXS`, this field is limited to 3 characters.

[2019-02-15 14:24] qaisjp opened #235 "Imgur embeds cause mail to go to spam"
(apparently)

we should base64 them anyway

[2019-02-15 17:46] casassg commented on #235
The other option is to host them statically in GitHub pages? We need to make sure that base64 get loaded correctly on all email clients.

[2019-02-15 17:49] casassg commented on #235
Found this: https://djangosnippets.org/snippets/285/

[2019-02-15 21:08] qaisjp commented on #235
The other option is hosting the static files on my.hackwhatever.tld but I still think attaching the image is safer. I think GitHub pages will still send it to spam because the sender domain != Image domain.

[2019-02-17 15:42] faix commented on #235
What about hosting it in aws with S3 and using it as a cdn?

[2019-02-18 18:40] casassg commented on #235
I feel the best option is going to host it on the same server as static files. May be difficult to debug on local, so maybe we can use imgur as a fallback when DEBUG mode is on. Keeping them on the project makes it more manageable and reduces the chances of getting into SPAM as it will be from the same domain.

[2019-02-18 18:41] qaisjp commented on #235
that has the same issue of hosting images on a foreign domain.

[2019-02-18 18:53] casassg commented on #235
Fair. Then we need to explore: https://djangosnippets.org/snippets/285/

[2019-02-18 19:01] #232 closed

[2019-02-18 19:02] qaisjp commented on #235
Btw an easier option would just be to use this commit https://github.com/compsoc-edinburgh/hackassistant-registration/commit/c7449a071498b4b23698855c95680c2ec0aaafce — not sure if image support is worth all the effort

[2019-02-18 19:09] casassg commented on #235
Problem with Base64 links is that Outlook blocks it. Will check locally. Interesting article about different alternatives:  https://sendgrid.com/blog/embedding-images-emails-facts/

[2019-02-18 19:20] casassg commented on #235
Just tested. Images don't work correctly on GMail for Android/Web. Will try to do the attachment ones as suggested before.

[2019-02-18 21:14] qaisjp commented on #235
Yup, I initially tried base64 and encountered the same issue with Gmail

[2019-02-19 11:36] qaisjp commented on #225
For us it gives us a 500 server error. (Not sure if this is because of a change in our fork, but I don't recall making any change here.)

Edit: yep, master on this repo gives a TypeError:

[code]

[2019-03-05 18:10] qaisjp opened #240 "QR codes are not displaying"
QR codes do not display because Google's QR Code API is deprecated

https://developers.google.com/chart/infographics/docs/qr_codes

(The API is currently down, and there's no guarantee for it to come back up because it is deprecated.)

[2019-03-05 19:07] #225 closed

[2019-03-05 19:15] casassg commented on #240
Should we move away from QR codes in general? The UI has also some issues as Video Web API is still not great. At HackCU we ended up using just the search.

An option would be to make the search with autocomplete so that it redirects to the check-in hacker page directly.

[2019-03-13 19:11] casassg commented on #240
Alternative for QR scanners:

- https://github.com/nimiq/qr-scanner
- https://github.com/schmich/instascan#example-setup

We would need to benchmark this

[2019-03-13 19:12] casassg commented on #240
An alternative to generate QR codes: http://goqr.me/api/

[2019-07-01 20:39] #226 closed

[2019-10-06 23:11] s-fletcher opened #281 "Admin Tab leads to 500 Server Error"
## Is this a BUG REPORT or FEATURE REQUEST?
Bug report

## What happened
Clicking on admin tab leads to a 500 server error
I've attached a screenshot at the bottom of what I get when I run it locally.

## What you expected to happen
Open the admin tab

## How to reproduce it (as minimally and precisely as possible)
Log into an admin account and go to the admin tab

## Anything else we need to know

[2019-10-07 00:45] #281 closed

[2019-10-07 00:46] casassg commented on #281
Updated django-jet dependency. Should be fine now

[2020-03-15 10:14] Casassarnau opened #286 "Votes are from 1 to X"
## Is this a BUG REPORT or FEATURE REQUEST?
Fearure request

## What happened
(Include screenshots when possible)
In HackUPC we thought that in order to vote even more dynamic and quick as possible, It would be nice to have it from 1 to 5. We know it's only our opinion for this change so we thought we could change it from 1 to x so every hack decides which to use.

## What you expected to happen
I

[2020-03-15 10:38] Casassarnau opened #287 "Set Max votes for application"
## Is this a BUG REPORT or FEATURE REQUEST?
Feature request

## What happened

In the begining of applications when an organizer is voting, s/he will vote everyone in the begining.
In order to balance votes per aplication it would be nice to set a max number of votes.
## What you expected to happen
When an application have X votes, the application will not be showed for review to any more organize

[2020-03-15 10:53] Casassarnau opened #288 "Add Mentors, Sponsors and Volunteers"
## Is this a BUG REPORT or FEATURE REQUEST?
Feature request

## What happened

In order to check in/meals/baggage the sponsors, mentors, volunteers in the hack. We need this users in the data base.

## What you expected to happen
Mentors, volunteers and sponsors will be able to apply and then we could check them in, check meals, etc. So we would get even more data important for our logistics team

[2020-03-16 02:39] casassg commented on #288
Curious, do you plane to migrate here the meal check-in here? also, can you elaborate on the design for this? Also, plans to update the hardware plugin?

[2020-03-18 15:54] #286 closed

[2020-03-18 16:16] Casassarnau commented on #288
I didn't know the meals check-in is not at Hackassistant. We will try our best in order to get those features to Hackassistant as soon as possible.
The idea is that the hackers, mentors, volunteers and sponsors could apply in Hackassistant. In order to do that we will have to add new forms, new attributes to the model user and application. And then the organizers depending in which type of organiz

[2020-03-18 20:00] casassg commented on #288
Please, can you share a draft of what the updates would be? (model updates, views updates and view structure) Or at least how you thinking of them (write what you would need if you were to take on this in the future)

[2020-03-18 20:01] casassg commented on #287
@Casassarnau pls remember to assign this to whoever is working on it. I can also add them to the org

[2020-03-18 20:02] casassg commented on #206
@Casassarnau can you pull the changes from HackUPC?

[2020-03-18 20:03] casassg commented on #108
Closing this bc of inactivity

[2020-03-18 20:03] #108 closed

[2020-03-18 20:04] casassg commented on #79
Closing this as I have not seen more reports on this.

[2020-03-18 20:04] #79 closed

[2020-03-18 20:05] casassg commented on #20
Closing this as it seems difficult to achieve.

[2020-03-18 20:05] #20 closed

[2020-03-18 20:06] casassg commented on #146
@Casassarnau has this been done at hackUPC?

[2020-03-18 20:19] Casassarnau commented on #146
No, we are doing it now at Hackassistant. We are doing it a bit diferent but the idea is the same, I'm taking this issue. The one in charge of it right now is @Ferja.

[2020-03-20 16:31] #287 closed

[2020-03-21 10:23] Casassarnau opened #292 "Restrict Resumes to PDF"
## Is this a BUG REPORT or FEATURE REQUEST?
Feature Request

## What happened
(Include screenshots when possible)
Hackers send resumes as power point, libre office documents, etc. We even had hackers that sended memes as resumes because the field is not restricted.

## What you expected to happen
From now on only accept .pdf files as Resumes. It will be easier to review as well.

## How to reprodu

[2020-03-22 16:55] #292 closed

[2020-04-23 10:00] Casassarnau opened #311 "Origin restrict"
## Is this a BUG REPORT or FEATURE REQUEST?
Feature request

## What happened
(Include screenshots when possible)
Hackers don't choose one of the default values of origin

## What you expected to happen
Restrict this application field in order to solve origins like: from nou barris hood, from my pc, etc

## How to reproduce it (as minimally and precisely as possible)
Hackers...

## Anything else w

[2020-04-23 10:06] Casassarnau opened #312 "Admin votes search Bug"
## Is this a BUG REPORT or FEATURE REQUEST?
Bug report

## What happened
(Include screenshots when possible)
Beatifull error 500 if you search on admin votes model

## What you expected to happen
Search the votes correctly

## How to reproduce it (as minimally and precisely as possible)
just type anything on the search field on admin votes model and enter.

## Anything else we need to know?
The Bu

[2020-04-23 10:59] Casassarnau opened #313 "Create user from admin page BUG"
## Is this a BUG REPORT or FEATURE REQUEST?
bug report

## What happened
(Include screenshots when possible)
Happy error 500 when trying to create a user from admin.

## What you expected to happen
Create a user

## How to reproduce it (as minimally and precisely as possible)
just click on create new user on admin.

## Anything else we need to know?
Yep, this is beacuse the form is trying to creat

[2020-04-23 18:19] casassg commented on #313
Another issue that you can take is to clean a bit the templates for PR/issues. Would you mind taking on that?

[2020-04-26 17:23] #311 closed

[2020-04-27 17:40] #312 closed

[2020-05-09 14:08] #146 closed

[2020-07-05 11:47] #313 closed

[2020-07-07 14:22] Casassarnau commented on #206
Done

[2020-07-08 10:29] #206 closed

[2020-07-08 10:29] #207 closed

[2020-07-08 10:29] #288 closed

[2020-07-13 16:32] #240 closed

[2020-07-20 14:03] Casassarnau opened #329 "There should be a profile page where users can remove their user"
# FEATURE REQUEST

## What do you want to happen
It's mandatory for the users privacy to have a way to delete their accounts in the platform. It would be nice to have a profile page where users can see their data, change password, change user type and delete account.

## Anything else we need to know?

[2020-07-20 14:30] Casassarnau commented on #208
This is working now, closing tis issue

[2020-07-20 14:30] #208 closed

[2020-10-09 10:28] #329 closed